@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
body{
  background-image: url('/src/components/assets/images/hero\ bg.jpg') ;
  background-repeat: unset;
  background-size: cover;
}